 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/Menu.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/Home/Index">
                <img src="~/Content/Pictures/CuttingEdgeWhite.png" style=" width: 275px; height: 75px;" />
            </a>
        </div>
        <ul>
            <li>
                <a href="#" class="nav-item">Electrical</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li><a href="#">Option #1</a></li>
                            <li><a href="#">Option #2</a></li>
                            <li><a href="#">Option #3</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Lighting</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li><a href="#">Option #1</a></li>
                            <li><a href="#">Option #2</a></li>
                            <li><a href="#">Option #3</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Energy</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li><a href="#">Option #1</a></li>
                            <li><a href="#">Option #2</a></li>
                            <li><a href="#">Option #3</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="" class="nav-item">National Accounts</a>
            </li>
            <li>
                <a href="/Home/Contact" class="nav-item">Contact Us</a>
            </li>
            <li>
                <a href="/ServiceRequest/ServiceRequest" class="nav-item">Service Request</a>
            </li>
            <li>
                <a href="/NewVendors/Questionnaire" class="nav-item">New Vendor</a>
            </li>
            <li>
                <a href="#" class="nav-item">Careers</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li><a href="#">Available Jobs</a></li>
                            <li><a href="/Careers/Careers">Submit Your Resume</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

        <select>Question
            <option value="">Menu</option>
            <option value="">Electrical</option>
            <option value="">Lighting</option>
            <option value="">Energy</option>
            <option value="">National Accounts</option>
            <option value="">Contact Us</option>
            <option value="">Service Request</option>
            <option value="">New Vendor</option>
            <option value="">Careers</option>
        </select>
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <footer class="foot">
            <div>
                <span>&copy; @DateTime.Now.Year - Cutting Edge Lighting - Website Design By: <a href="https://shanemoodie.github.io/">Shane Moodie</a></span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>