 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/Menu.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/Home/Home">
                <img src="~/Content/Pictures/CuttingEdgeWhite.png" style=" width: 275px; height: 75px;" />
            </a>
        </div>
        <ul>
            <li>
                <a href="/Electrical/Electrical" class="nav-item">Electrical</a>
                <div class="nav-content">
                    <div class="nav-sub">
                    </div>
                </div>
            </li>
            <li>
                <a href="/Lighting/Lighting" class="nav-item">Lighting</a>
                <div class="nav-content">
                    <div class="nav-sub">
                    </div>
                </div>
            </li>
            <li>
                <a href="/Energy/Energy" class="nav-item">Energy</a>
                <div class="nav-content">
                    <div class="nav-sub">
                    </div>
                </div>
            </li>
            <li>
                <a href="/ProjectManagement/ProjectManagement" class="nav-item">Project Management</a>
            </li>
            <li>
                <a href="" class="nav-item">National Accounts</a>
            </li>
            <li>
                <a href="/Home/Contact" class="nav-item">Contact Us</a>
            </li>
            <li>
                <a href="/ServiceRequest/ServiceRequest" class="nav-item">Service Request</a>
            </li>
            <li>
                <a href="/NewVendors/Questionnaire" class="nav-item">New Vendor</a>
            </li>
            <li>
                <a href="/Careers/Careers" class="nav-item">Careers</a>
            </li>
        </ul>

        <select>
            <option value="">Menu</option>
            <option value="/Home/Index">Home</option>
            <option value="/Electrical/Electrical">Electrical</option>
            <option value="/Lighting/Lighting">Lighting</option>
            <option value="/Energy/Energy">Energy</option>
            <option value="/ProjectManagement/ProjectManagement">Project Management</option>
            <option value="">National Accounts</option>
            <option value="/Home/Contact">Contact Us</option>
            <option value="/ServiceRequest/ServiceRequest">Service Request</option>
            <option value="/NewVendors/Questionnaire">New Vendor</option>
            <option value="/Careers/Careers">Careers</option>
        </select>
    </nav>
    
    <div class="container body-content">
        @RenderBody()
        <footer class="foot">
            <div>
                <span>&copy; @DateTime.Now.Year - Cutting Edge Lighting - <a class="mobilesOnly" href="tel:3309986002" id="hyperlink2">330-998-6002</a><br />Website Design By: <a href="https://shanemoodie.github.io/" target="_blank" id="hyperlink2">Shane Moodie</a></span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>